#----------------------------------------------------------------------------------
#-- Engineer:    Mike Field <hamster@snap.net.nz>
#-- 
#-- Module Name: zedboard_hdmi.ucf - Behavioral 
#--
#-- Feel free to use this how you see fit, and fix any errors you find :-)
#----------------------------------------------------------------------------------
NET CLK_100       LOC = Y9   |IOSTANDARD=LVCMOS33;  # "GCLK"
NET "clk_100" TNM_NET = clk_100;
TIMESPEC TS_clk_100 = PERIOD "clk_100" 10 ns HIGH 50%;

NET HDMI_CLK        LOC = W18  | IOSTANDARD=LVCMOS33;  # "HD-CLK"
NET HDMI_D<0>       LOC = Y13  | IOSTANDARD=LVCMOS33;  # "HD-D0"
NET HDMI_D<1>       LOC = AA13 | IOSTANDARD=LVCMOS33;  # "HD-D1"
NET HDMI_D<2>       LOC = AA14 | IOSTANDARD=LVCMOS33;  # "HD-D2"
NET HDMI_D<3>       LOC = Y14  | IOSTANDARD=LVCMOS33;  # "HD-D3"
NET HDMI_D<4>       LOC = AB15 | IOSTANDARD=LVCMOS33;  # "HD-D4"
NET HDMI_D<5>       LOC = AB16 | IOSTANDARD=LVCMOS33;  # "HD-D5"
NET HDMI_D<6>       LOC = AA16 | IOSTANDARD=LVCMOS33;  # "HD-D6"
NET HDMI_D<7>       LOC = AB17 | IOSTANDARD=LVCMOS33;  # "HD-D7"
NET HDMI_D<8>       LOC = AA17 | IOSTANDARD=LVCMOS33;  # "HD-D8"
NET HDMI_D<9>       LOC = Y15  | IOSTANDARD=LVCMOS33;  # "HD-D9"
NET HDMI_D<10>      LOC = W13  | IOSTANDARD=LVCMOS33;  # "HD-D10"
NET HDMI_D<11>      LOC = W15  | IOSTANDARD=LVCMOS33;  # "HD-D11"
NET HDMI_D<12>      LOC = V15  | IOSTANDARD=LVCMOS33;  # "HD-D12"
NET HDMI_D<13>      LOC = U17  | IOSTANDARD=LVCMOS33;  # "HD-D13"
NET HDMI_D<14>      LOC = V14  | IOSTANDARD=LVCMOS33;  # "HD-D14"
NET HDMI_D<15>      LOC = V13  | IOSTANDARD=LVCMOS33;  # "HD-D15"
NET HDMI_DE         LOC = U16  | IOSTANDARD=LVCMOS33;  # "HD-DE"
NET HDMI_HSYNC      LOC = V17  | IOSTANDARD=LVCMOS33;  # "HD-HSYNC"
NET HDMI_VSYNC      LOC = W17  | IOSTANDARD=LVCMOS33;  # "HD-VSYNC"
NET HDMI_SCL        LOC = AA18 | IOSTANDARD=LVCMOS33;  # "HD-SCL"
NET HDMI_SDA        LOC = Y16  | IOSTANDARD=LVCMOS33 | PULLUP;  # "HD-SDA"
#NET HDMI_INT        LOC = W16  | IOSTANDARD=LVCMOS33;  # "HD-INT"
#NET HDMI_SPDIF      LOC = U15  | IOSTANDARD=LVCMOS33;  # "HD-SPDIF"
#NET HDMI_SPDIFO     LOC = Y18  | IOSTANDARD=LVCMOS33;  # "HD-SPDIFO"

NET VGA_R<0>        LOC = V20  | IOSTANDARD=LVCMOS33;  # "VGA-R1"
NET VGA_R<1>        LOC = U20  | IOSTANDARD=LVCMOS33;  # "VGA-R2"
NET VGA_R<2>        LOC = V19  | IOSTANDARD=LVCMOS33;  # "VGA-R3"
NET VGA_R<3>        LOC = V18  | IOSTANDARD=LVCMOS33;  # "VGA-R4"
NET VGA_G<0>        LOC = AB22 | IOSTANDARD=LVCMOS33;  # "VGA-G1"
NET VGA_G<1>        LOC = AA22 | IOSTANDARD=LVCMOS33;  # "VGA-G2"
NET VGA_G<2>        LOC = AB21 | IOSTANDARD=LVCMOS33;  # "VGA-G3"
NET VGA_G<3>        LOC = AA21 | IOSTANDARD=LVCMOS33;  # "VGA-G4"
NET VGA_B<0>        LOC = Y21  | IOSTANDARD=LVCMOS33;  # "VGA-B1"
NET VGA_B<1>        LOC = Y20  | IOSTANDARD=LVCMOS33;  # "VGA-B2"
NET VGA_B<2>        LOC = AB20 | IOSTANDARD=LVCMOS33;  # "VGA-B3"
NET VGA_B<3>        LOC = AB19 | IOSTANDARD=LVCMOS33;  # "VGA-B4"
NET VGA_HS          LOC = AA19 | IOSTANDARD=LVCMOS33;  # "VGA-HS"
NET VGA_VS          LOC = Y19  | IOSTANDARD=LVCMOS33;  # "VGA-VS"

NET AC_ADR0       LOC = AB1  | IOSTANDARD=LVCMOS33;  # "AC-ADR0"
NET AC_ADR1       LOC = Y5   | IOSTANDARD=LVCMOS33;  # "AC-ADR1"
NET AC_GPIO0      LOC = Y8   | IOSTANDARD=LVCMOS33;  # "AC-GPIO0"
NET AC_GPIO1      LOC = AA7  | IOSTANDARD=LVCMOS33;  # "AC-GPIO1"
NET AC_GPIO2      LOC = AA6  | IOSTANDARD=LVCMOS33;  # "AC-GPIO2"
NET AC_GPIO3      LOC = Y6   | IOSTANDARD=LVCMOS33;  # "AC-GPIO3"
NET AC_MCLK       LOC = AB2  | IOSTANDARD=LVCMOS33;  # "AC-MCLK"
NET AC_SCK        LOC = AB4  | IOSTANDARD=LVCMOS33;  # "AC-SCK"
NET AC_SDA        LOC = AB5  | IOSTANDARD=LVCMOS33;  # "AC-SDA"

# BUTTONS
NET  btn_left 		  LOC = N15  | IOSTANDARD=LVCMOS18; #"BTNL"
NET  btn_right      LOC = R18  | IOSTANDARD=LVCMOS18; #"BTNR"
NET  btn_up			  LOC = T18  | IOSTANDARD=LVCMOS18; #"BTNU" 
NET  btn_down       LOC = R16  | IOSTANDARD=LVCMOS18;  # "BTND"
NET  btn_center  LOC = P16 | IOSTANDARD=LVCMOS18; # "BTNC"


# LEDS
NET "leds<0>"     LOC = "T22" | IOSTANDARD=LVCMOS33;  # "LD0"
NET "leds<1>"     LOC = "T21" | IOSTANDARD=LVCMOS33;  # "LD1"
NET "leds<2>"     LOC = "U22" | IOSTANDARD=LVCMOS33;  # "LD2"
NET "leds<3>"     LOC = "U21" | IOSTANDARD=LVCMOS33;  # "LD3"
NET "leds<4>"     LOC = "V22" | IOSTANDARD=LVCMOS33;  # "LD4"
NET "leds<5>"     LOC = "W22" | IOSTANDARD=LVCMOS33;  # "LD5"
NET "leds<6>"     LOC = "U19" | IOSTANDARD=LVCMOS33;  # "LD6"
NET "leds<7>"     LOC = "U14" | IOSTANDARD=LVCMOS33;  # "LD7"

# SWITCHES
NET "sw<1>"          LOC = F22  | IOSTANDARD=LVCMOS18;  # "SW0"
NET "sw<2>"          LOC = G22  | IOSTANDARD=LVCMOS18;  # "SW1"
NET "sw<3>"          LOC = H22  | IOSTANDARD=LVCMOS18;  # "SW2"
NET "sw<4>"          LOC = F21  | IOSTANDARD=LVCMOS18;  # "SW3"
NET "sw<5>"          LOC = H19  | IOSTANDARD=LVCMOS18;  # "SW4"
NET "sw<6>"          LOC = H18  | IOSTANDARD=LVCMOS18;  # "SW5"
NET "sw<7>"          LOC = H17  | IOSTANDARD=LVCMOS18;  # "SW6"
NET "sw<8>"          LOC = M15  | IOSTANDARD=LVCMOS18;  # "SW7"

# SCALE BUTTONS
NET "pmod<0>"         LOC = AB6  | IOSTANDARD=LVCMOS33;  # "JC1_N"
NET "pmod<1>"         LOC = AB7  | IOSTANDARD=LVCMOS33;  # "JC1_P"
NET "pmod<2>"         LOC = AA4  | IOSTANDARD=LVCMOS33;  # "JC2_N"
NET "pmod_btn"         LOC = Y4   | IOSTANDARD=LVCMOS33;  # "JC2_P"

